
<button class="draft">Draft Random Teams</button>
{{#each listOfteams}}
    {{this.QB}}
    {{this.RB}}
    {{!-- {{this.RB}} --}}
    {{this.WR}}
    {{!-- {{this.WR}}
    {{this.WR}} --}}
    {{this.TE}}
    {{this.DST}}
    {{this.K}}

{{/each}}

