
<div class="container">
<hr>
<h2>{{thePlayer.Player}}

{{thePlayer.Position}}

{{thePlayer.Team}} </h2>
<hr>
<h2>2018 Stat Projections</h2>
{{#if thePlayer.passAtt.length}}
    <p>Pass Attempts: {{thePlayer.passAtt}}</p>
{{/if}}    
{{#if thePlayer.passCmp.length}}
    <p>Pass Compeletion: {{thePlayer.passCmp}}</p>
{{/if}}
{{#if thePlayer.passYds.length}}
    <p>Passing Yards: {{thePlayer.passYds}}</p>
{{/if}}
{{#if thePlayer.passTds.length}}
    <p>Passing Touchdowns: {{thePlayer.passTds}}</p>
{{/if}}
{{#if thePlayer.ints.length}}
    <p>Interceptions: {{thePlayer.ints}}</p>
{{/if}}
{{#if thePlayer.rushAtt.length}}
    <p>Rushing Attempts: {{thePlayer.rushAtt}}</p>
{{/if}}
{{#if thePlayer.rushYds.length}}
    <p>Rushing Yards: {{thePlayer.rushYds}}</p>
{{/if}}
{{#if thePlayer.rushTds.length}}
    <p>Rushing Touchdowns: {{thePlayer.rushTds}}</p>
{{/if}}
{{#if thePlayer.rec.length}}
    <p>Receptions: {{thePlayer.rec}}</p>
{{/if}}
{{#if thePlayer.recYds.length}}
    <p>Recieving Yards: {{thePlayer.recYds}}</p>
{{/if}}
{{#if thePlayer.recTds.length}}
    <p>Recieving Touchdowns: {{thePlayer.recTds}}</p>
{{/if}}
{{#if thePlayer.sack.length}}
    <p>Sacks: {{thePlayer.sack}}</p>
{{/if}}
{{#if thePlayer.INT.length}}
    <p>Interceptions: {{thePlayer.INT}}</p>
{{/if}}
{{#if thePlayer.FR.length}}
    <p>Fumbles Recovered: {{thePlayer.FR}}</p>
{{/if}}
{{#if thePlayer.FF.length}}
    <p>Fumbles Forced: {{thePlayer.FF}}</p>
{{/if}}
{{#if thePlayer.TD.length}}
    <p>Defensive Touchdowns: {{thePlayer.TD}}</p>
{{/if}}
{{#if thePlayer.safety.length}}
    <p>Safeties: {{thePlayer.safety}}</p>
{{/if}}
{{#if thePlayer.PA.length}}
    <p>Points Against: {{thePlayer.PA}}</p>
{{/if}}
{{#if thePlayer.ydsAgn.length}}
    <p>Yards Against: {{thePlayer.ydsAgn}}</p>
{{/if}}
{{#if thePlayer.FG.length}}
    <p>Field Goals Made: {{thePlayer.FG}}</p>
{{/if}}
{{#if thePlayer.FGA.length}}
    <p>Field Goals Attempted: {{thePlayer.FGA}}</p>
{{/if}}
{{#if thePlayer.XPT.length}}
    <p>Extra Points: {{thePlayer.XPT}}</p>
{{/if}}
{{#if thePlayer.FPTS.length}}
    <p>2018 Fantasy Points: {{thePlayer.FPTS}}</p>
{{/if}}
<hr>

<a href="/players/{{thePlayer._id}}/comments/new">Add a Comment for This Player</a>

    <div>
    <h2>Comments for This Player</h2>
    <hr>
    {{#each thePlayer.comments}}
    <h4>{{this.commenter}}</h4>
    <p>{{this.content}}</p>

    <a href="/players/{{../thePlayer._id}}/comments/edit/{{@index}}">Edit This Comment</a>

    
    <form action="/players/{{../thePlayer._id}}/comments/delete/{{@index}}" method="post">
        <button>Delete This Comment</button>
    </form>
    <hr>
    {{/each}}
    </div>
</div>


